body {
    background-color: rgba(87, 43, 45, 0.705);
}

#sound {
     visibility: hidden;
}

.left {
    box-sizing: border-box;
    float: left;
    border: 1px solid rgb(0, 0, 0);
    font-size: 12px;
    height: 100%;
}

.battle-states {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    height: 60%;
}


.right {
    box-sizing: border-box;
    float: right;
    border: 1px solid rgb(0, 0, 0);
    font-size: 12px;
    height: 100%;
}



.terminal-input {
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    height: 30px;
    width: 945px;
    position: relative;
    
    
}
.map {
    box-sizing: border-box;
    border: 2px solid rgb(0, 0, 0);
    float: left;
    margin: auto;    
   
    height: 300px;
    width: 300px;
}   
.north-hud, .west-hud, .south-hud, .east-hud {
    border: 2px solid rgb(0, 0, 0);
    height: 25%;
    width: 100%;
    text-align: center;
}

.north, .south, .east, .west {
     background-color: rgb(141, 29, 29); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    height: 100%;
}

button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}
.hud {
  box-sizing: border-box;
    border: 2px solid rgb(0, 0, 0);
    float: left;
    height: 300px;
    width: 345px;
    
    
}




.terminal {
    border: 2px solid black;
    float: left;
    margin: auto;    
    height: 300px;
    width: 300px;
    overflow:auto;
    background-color: white;
}

