.map {
    box-sizing: border-box;
    border: 2px solid rgb(0, 0, 0);
    float: right;
    margin: auto;    
   
    height: 300px;
    width: 300px;
}   

.hud {
  box-sizing: border-box;
    border: 2px solid rgb(0, 0, 0);
    float: left;
    height: 300px;
    width: 345px;
}




.terminal {
    border: 2px solid black;
    float: left;
    margin: auto;    
    height: 300px;
    width: 300px;
}

